<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Data Collection</title>
	<link rel="stylesheet" type="text/css" href="{% static 'enroll/css/bootstrap.css' %}">
</head>
<body>
<div class="container mt-5">
	<h2 class="text-center alert alert-danger">Gujarat University</h2>
	{% block content %}{% endblock content %}
<div>
<script type="text/javascript" src="{% static 'enroll/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'enroll/js/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'enroll/js/bootstrap.js' %}"></script>
</body>
</html>